<div class="characters__page">
    <div class="characters__page__characters__students"
        style="padding-top: 7.5rem;"
        *ngIf="(teachers || []).length > 0">
        <!-- <div class="characters__page__characters__students__title">
            <h1>Teachers</h1>
        </div> -->
        <div>
            <swiper [effect]="'coverflow'"
                [grabCursor]="true"
                [centeredSlides]="true"
                [loop]="true"
                [initialSlide]="5"
                [autoplay]="{
                    delay: 5000,
                    disableOnInteraction: false
                  }"
                [slidesPerView]="isMobile() ? 1:3"
                [coverflowEffect]="coverflowEffect"
                [pagination]="false">
                <ng-template swiperSlide
                    *ngFor="let char of teachers">
                    <!-- (slideChange)="onSlideChange()"
                (swiper)="onSwiper($event)" -->
                    <div class="text-center"
                        routerLink="profile/{{char.id}}">
                        <!-- [style.height]="'650px'"
                        [style.objectFit]="'scale-down'" -->
                        <img [style.width]="isMobile() ? '100vw' : '40rem'"
                            src="{{char.profileURL}}"
                            alt=""
                            (click)="selectCharacter(char)">
                        <!-- <p>{{char.firstname}}</p> -->
                    </div>
                </ng-template>
            </swiper>
        </div>
        <!-- <div class="characters__page__characters__students__container">
            <div class="row">
                <div class="col-md-4"
                    *ngFor="let char of teachers | slice:0:6">
                    <div class=" characters__page__characters__single"
                        routerLink="profile/{{char.id}}">
                        <img src="{{char.profileURL}}"
                            alt=""
                            (click)="selectCharacter(char)">
                        <p>{{char.firstname}}</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- <div class="characters__page__characters__students"
        *ngIf="(students || []).length > 0">
        <div class="characters__page__characters__students__title">
            <h1>Students</h1>
        </div>
        <div class="characters__page__characters__students__container">
            <div class="row">
                <div class="col-md-4"
                    *ngFor="let char of students | slice:0:6">
                    <div class=" characters__page__characters__single"
                        routerLink="profile/{{char.id}}">
                        <img src="{{char.profileURL}}"
                            alt=""
                            (click)="selectCharacter(char)">
                        <p>{{char.firstname}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>