<div class="characters__page">
    <div class="characters__page__selected__character" *ngIf="selectedChar">
        <div class="characters__page__selected__character__name">
            <p>{{selectedChar.firstname}}</p>
            <button class="btn btn-danger" routerLink="profile/{{selectedChar.id}}">Character Profile</button>
        </div>
        <div class="characters__page__selected__character__image">
            <img src="{{selectedChar.profileURL}}" alt="">
        </div>
    </div>
    <div class="characters__page__characters{{selectedChar?'__selected':''}}">
        <div class=" characters__page__characters__single{{selectedChar?.firstname == char.firstname ? '-hidden':''}}"
            *ngFor="let char of characters | slice:0:6">
            <img src="{{char.profileURL}}" alt="" (click)="selectCharacter(char)">
            <p>{{char.firstname}}</p>
        </div>
    </div>
</div>