<div class="characters__page">
    <div class="characters__page__teachers">
        <div class="characters__page__selected__character" *ngIf="selectedChar">
            <div class="characters__page__selected__character__name">
                <p>{{selectedChar.firstname}}</p>
                <button class="btn btn-danger" routerLink="profile/{{selectedChar.id}}">Character Profile</button>
            </div>
            <div class="characters__page__selected__character__image">
                <img src="{{selectedChar.profileURL}}" alt="">
            </div>
        </div>
        <h1 class="characters__page__characters__title{{selectedChar?'__selected':''}}">Teachers</h1>
        <div class="characters__page__characters{{selectedChar?'__selected':''}}">
            <div class=" characters__page__characters__single{{selectedChar?.firstname == char.firstname ? '-hidden':''}}"
                *ngFor="let char of teachers | slice:0:6">
                <img src="{{char.profileURL}}" alt="" (click)="selectCharacter(char)">
                <p>{{char.firstname}}</p>
            </div>
        </div>
    </div>
    <div class="characters__page__characters__students" *ngIf="(students || []).length > 0">
        <div class="characters__page__characters__students__title">
            <h1>Students</h1>
        </div>
        <div class="characters__page__characters__students__container">
            <div class=" characters__page__characters__single"
                routerLink="profile/{{char.id}}"
                *ngFor="let char of students | slice:0:6">
                <img src="{{char.profileURL}}" alt="" (click)="selectCharacter(char)">
                <p>{{char.firstname}}</p>
            </div>
        </div>
    </div>
</div>
