<div class="scence__card">
    <div class="scence__card__img">
        <img src="../../../../../assets/images/scene-char.png" alt="">
    </div>
    <div class="scence__card__content">
        <p class="scence__card__content__title">{{video.id?(video.id > 9 ? '' : 0):0}}{{video.id}}</p>
        <p class="scence__card__content__title">{{video.title}}</p>
    </div>
    <div class="scence__card__play__icon__container">
        <div class="scence__card__play__icon">
            <img src="../../../../../assets/images/play-o.png" alt="">
            <img src="../../../../../assets/images/play.png" alt="">
        </div>
    </div>
</div>