.footer {
  background: #1B1A1A;
  padding: 3rem 0;

  .footer__copy__rights {
    margin: 0;
    color: #9B9B9B;
    font-size: .92rem;
    font-family: $PlayfairDisplay-Regular;
    text-align: center;
  }
}
