<div class="character__profile">
    <div class="character__profile__banner">
        <div class="character__profile__banner__overlay"></div>
        <div class="character__profile__banner__overlay__reversed"></div>
        <div class="character__profile__banner__image__overlay "
            *ngIf="coverImage">
            <img src="{{coverImage}}"
                alt="">
        </div>
        <div class="container-fluid">
            <div class="character__profile__banner__content__area">
                <h1>{{character?.firstname}} {{character?.lastname}}</h1>
                <p>{{character?.about | slice:0:360}}</p>
                <!-- <p>{{character?.about | slice:0:360}}</p> -->
                <button class="btn btn-danger">Ask me</button>
            </div>
            <div class="character__profile__banner__user__image"
                *ngIf="profileImage">
                <img src="{{profileImage}}"
                    alt="">
            </div>
        </div>
    </div>
    <div class="character__profile__scenes">
        <div class="container-fluid">
            <h2 class="character__profile__scenes__title">{{character?.firstname}} scenes</h2>
            <div class="row">
                <div class="col-md-4 mb-4"
                    *ngFor="let vid of charVideos|slice:0:vidSize">
                    <app-scene-card [video]="vid"></app-scene-card>
                </div>
            </div>
            <div class="row"
                *ngIf="(charVideos?.length || 0) > vidSize">
                <div class="col-12 text-center my-3">
                    <button class="btn btn-danger load__more__btn"
                        (click)="LoadMoreVid()">Load More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="character__profile__scenes">
        <div class="container-fluid">
            <h2 class="character__profile__scenes__title">{{character?.firstname}} Images</h2>
            <div class="row">
                <div class="col-md-4 mb-4"
                    *ngFor="let img of charImages | slice:0:loadSize;let i = index">
                    <app-card-image (click)="openImageCarousel(i)" [image]="img"></app-card-image>
                </div>
            </div>
            <div class="row"
                *ngIf="(charImages?.length || 0) > loadSize">
                <div class="col-12 text-center my-3">
                    <button class="btn btn-danger load__more__btn"
                        (click)="LoadMoreVid()">Load More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="character__profile__ask__me">
        <div class="container-fluid">
            <h3>{{character?.intro}}</h3>
            <div class="character__profile__ask__me__buttons">
                <button class="btn btn-danger">Ask Me</button>
                <button class="btn btn-outline-light"
                    routerLink="/help">Get help for a specific issue</button>
            </div>
        </div>
    </div>
    <div class="character__profile__slider__container">
        <app-characters-slider></app-characters-slider>
    </div>
</div>

<div class="video__player__container"
    *ngIf="showImages">
    <div class="video__player__container__content">
        <i (click)="hideImages()"
            class="la la-times"></i>
        <div>
            <swiper style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
                [spaceBetween]="0"
                [navigation]="true"
                [initialSlide]="initialSlide"
                [centeredSlides]="true"
                class="mySwiper2">
                <ng-template *ngFor="let scene of charImages"
                    swiperSlide>
                    <img class="w-100 h-100"
                        src="{{this.imgApi}}/Media/GetMedia?id={{scene.id}}"
                        alt="">
                </ng-template>
            </swiper>
        </div>
    </div>
</div>