.characters__page {
  background: url('../../../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: 110%;
  background-size: cover;
  background-position: center right;
  padding-top: 7.5rem;
  overflow: hidden;
  position: relative;

  .characters__page__selected__character {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

    .characters__page__selected__character__name {
      margin-right: 2.5rem;

      p {
        font-size: 3rem;
        font-family: $NeueHaasDisplayMediu;
        color: #fff;
        margin-bottom: 1.4rem;
      }

      button {
        width: 100%;
        font-size: .95rem;
        font-family: $NeueHaasDisplayBold;
        height: 40px;
        border-radius: 1px;
      }
    }

    .characters__page__selected__character__image {
      img {
        height: 450px;
        object-fit: scale-down;
      }
    }
  }

  .characters__page__characters {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;

    .characters__page__characters__single {
      position: relative;
      height: 700px;
      margin-bottom: 40px;

      img {
        height: 420px;
        width: auto;
        object-fit: scale-down;
        position: absolute;
        bottom: 0;
        transition: .5s all ease-in-out;
        cursor: pointer;
      }

      p {
        position: absolute;
        bottom: 0;
        color: #fff;
        font-size: 2.07rem;
        font-family: $NeueHaasDisplayMediu;
        visibility: hidden;
        opacity: 0;
        transition: .5s all ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        p {
          visibility: visible;
          opacity: 1;
        }
      }

      &:first-child {
        img {
          bottom: 91px;
          left: 10px;
          width: 273px;
          height: 456px;
        }

        p {
          bottom: 160px;
          left: 65px;
          z-index: 1;
        }
      }

      &:nth-child(2) {
        img {
          bottom: 0;
          left: -115px;
          width: 283px;
          height: 455px;
        }

        p {
          bottom: 110px;
          left: -60px;
          z-index: 1;
        }
      }

      &:nth-child(3) {
        img {
          bottom: 0;
          left: -235px;
          width: 403px;
          height: 428px;
        }

        p {
          bottom: 110px;
          left: -104px;
          z-index: 1;
        }
      }

      &:nth-child(4) {
        img {
          bottom: 0;
          left: -235px;
          width: 296px;
          height: 430px;
          z-index: 1;
        }

        p {
          bottom: 110px;
          left: -130px;
          z-index: 1;
        }
      }

      &:nth-child(5) {
        img {
          bottom: 64px;
          left: -300px;
          width: 416px;
          height: 411px;
        }

        p {
          bottom: 110px;
          left: -239px;
          z-index: 1;
        }
      }

      &:last-child {
        img {
          width: 328px;
          height: 411px;
          bottom: 155px;
          right: 90px;
        }

        p {
          bottom: 165px;
          left: -350px;
          z-index: 1;
        }
      }
    }
  }

  .characters__page__characters__selected {
    display: flex;
    justify-content: center;

    .characters__page__characters__single {
      position: relative;
      //   height: 700px;
      margin-bottom: 40px;

      img {
        height: 320px;
        width: auto;
        object-fit: scale-down;
        // position: absolute;
        bottom: 0;
        transition: .5s all ease-in-out;
        cursor: pointer;
      }

      p {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        color: #fff;
        font-size: 2.07rem;
        font-family: $NeueHaasDisplayMediu;
        visibility: hidden;
        opacity: 0;
        transition: .5s all ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        p {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .characters__page__characters__single-hidden {
      display: none;
    }
  }

  
}
