.all_news__page {
  background: #000;
  padding-top: 170px;
}

.single__new__page {
  background: #000;
  padding: 170px 0;
  color: #fff;
  font-family: $NeueHaasDisplayMediu;

  img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-bottom: 2rem;
    border-radius: 5px;
  }

  h1 {
    margin-bottom: 0;
  }

  small {
    color: rgba($color: #ffffff, $alpha: .8);
  }

  p {
    margin-top: 2rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: $NeueHaasDisplayLight;
  }
}
