.all_news__page {
  background: url('../../images/scene-bg.jpg');
  padding-top: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.single__new__page {
  background: #000;
  padding: 170px 0;
  color: #fff;
  font-family: $NeueHaasDisplayMediu;

  img {
    width: 100%;
    object-fit: cover;
    height: 500px;
    margin-bottom: 2rem;
    border-radius: 5px;
  }

  h1 {
    margin-bottom: 0;

    @media screen and (max-width:426px) {
      font-size: 4rem;
    }
  }

  small {
    color: rgba($color: #ffffff, $alpha: .8);

    @media screen and (max-width:426px) {
      font-size: 2rem;
    }
  }

  p {
    margin-top: 2rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: $NeueHaasDisplayLight;

    @media screen and (max-width:426px) {
      font-size: 3rem;
    }
  }
}
