@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

html {
  font-size: 15px;

  // 320px — 480px: Mobile devices
  @media only screen and (max-width:480px) {
    font-size: 6px;
  }

  @media only screen and (max-width:1024px) and (min-width:768px) {
    font-size: 8px;
  }

  @media only screen and (width:1024px) {
    font-size: 10px;
  }

  @media only screen and (max-width:1200px) and (min-width:1025px) {
    font-size: 12px;
  }
  @media only screen and (min-width:2559px)  {
    font-size: 27px;
  }
  @media only screen and (min-width:2000px)  {
    font-size: 22px;
  }
}

body.no-scroll {
  overflow: hidden;
}

.container,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding: 0 1rem;
}

.container-fluid {
  padding-left: 5rem;
  padding-right: 5rem;
}

.btn {
  border-radius: .5rem;
}

.load__more__btn {
  @media screen and (max-width:767px) {
    font-size: 2rem;
  }
}
