/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import './assets/scss/main.scss';

body {
  background: #000;
}

.btn-danger {
  background: #F44336;
  border-color: #F44336;
}
