@font-face {
  font-family: 'NeueHaasDisplayBlack';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf');
}

$NeueHaasDisplayBlack:'NeueHaasDisplayBlack';

@font-face {
  font-family: 'NeueHaasDisplayBlackItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlackItalic.ttf');
}

$NeueHaasDisplayBlackItalic:'NeueHaasDisplayBlackItalic';

@font-face {
  font-family: 'NeueHaasDisplayBold';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf');
}

$NeueHaasDisplayBold:'NeueHaasDisplayBold';

@font-face {
  font-family: 'NeueHaasDisplayBoldItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBoldItalic.ttf');
}

$NeueHaasDisplayBoldItalic:'NeueHaasDisplayBoldItalic';

@font-face {
  font-family: 'NeueHaasDisplayLight';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf');
}

$NeueHaasDisplayLight:'NeueHaasDisplayLight';

@font-face {
  font-family: 'NeueHaasDisplayLightItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLightItalic.ttf');
}

$NeueHaasDisplayLightItalic:'NeueHaasDisplayLightItalic';

@font-face {
  font-family: 'NeueHaasDisplayMediu';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf');
}

$NeueHaasDisplayMediu:'NeueHaasDisplayMediu';

@font-face {
  font-family: 'NeueHaasDisplayMediumItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediumItalic.ttf');
}

$NeueHaasDisplayMediumItalic:'NeueHaasDisplayMediumItalic';

@font-face {
  font-family: 'NeueHaasDisplayRoman';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf');
}

$NeueHaasDisplayRoman:'NeueHaasDisplayRoman';

@font-face {
  font-family: 'NeueHaasDisplayRomanItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRomanItalic.ttf');
}

$NeueHaasDisplayRomanItalic:'NeueHaasDisplayRomanItalic';

@font-face {
  font-family: 'NeueHaasDisplayThin';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThin.ttf');
}

$NeueHaasDisplayThin:'NeueHaasDisplayThin';

@font-face {
  font-family: 'NeueHaasDisplayThinItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayThinItalic.ttf');
}

$NeueHaasDisplayThinItalic:'NeueHaasDisplayThinItalic';

@font-face {
  font-family: 'NeueHaasDisplayXThin';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThin.ttf');
}

$NeueHaasDisplayXThin:'NeueHaasDisplayXThin';

@font-face {
  font-family: 'NeueHaasDisplayXThinItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXThinItalic.ttf');
}

$NeueHaasDisplayXThinItalic:'NeueHaasDisplayXThinItalic';

@font-face {
  font-family: 'NeueHaasDisplayXXThin';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXXThin.ttf');
}

$NeueHaasDisplayXXThin:'NeueHaasDisplayXXThin';

@font-face {
  font-family: 'NeueHaasDisplayXXThinItalic';
  src: url('../../fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayXXThinItalic.ttf');
}

$NeueHaasDisplayXXThinItalic:'NeueHaasDisplayXXThinItalic';
